# Godot 4+ specific ignores
.godot/
*.avi

# Builds of the game
Builds/*/**


# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Dummy HTML5 export presets file for continuous integration
!.github/dist/export_presets.cfg

godot-cpp

# Generated directories with binaries
build
bin

# System/tool-specific ignores
.directory
*~

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
bin
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb

# Misc
.DS_Store
logs/

# for projects that use SCons for building: http://http://www.scons.org/
.sconf_temp
.sconsign.dblite
*.pyc

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
__pycache__/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix